html {
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
}

body {
    background-color:#d9f3ff;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    
}

.topnav-bar nav #top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#9fcfdf;
}

.first nav ul{	
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    /*align-items: stretch;*/
    /*width: 100vw;*/
}


ul img {
    border-radius: 30%;
    align-content: center;
    width: minmax(10px, 60px);
    transition: all 100ms ease-in-out;
}
ul img:hover {
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 90%;
    transform: translate(0px, 6px);
}

li a{
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    color: #007b79;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}
li a:hover{
    transform: translate(0px, 6px) scale(1.2);
    letter-spacing:0.1em;
}

.hi {
    margin: 20px;

}

.first {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
    background-image: url('./assets/img/1x/Asset\ 5.png');
    height:auto;
    height:100vh;
    background-repeat: no-repeat;
    /* object-fit:   contain; */
    zoom: normal;
    margin-top: none;
    margin-right: 4rem;
}


h2 {
    font-family: 'Catamaran', sans-serif;
    font-size:60px;
    font-weight: lighter;
    font-stretch: wider;
    color: #0099af;
}

h1 {
    font-family: 'Clicker Script', cursive;
    color: #006571;
    font-size:80px;
}
.hi2 h1{
    font-size: 99px;
}

#describe {
    display: ruby-base-container;
    text-justify: distribute-all-lines;
    text-align: center;
    font-size: 4em;
    font-stretch: extra-condensed;
    max-width:550px;
    color: #666666;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:3.5em;
}
#left-cloud {
    justify-content: space-around;
    align-items: flex-start;
}
.compaditi{
    min-width: 100px;
}
#aditi_graphic_phone{
    width: 200px;
    display: none;
    align-self: flex-start;
}

h3 {
    text-align: center;
    display: grid;
    place-items: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 48px;
    color:#666666;
    font-weight: lighter;
    margin: 30px;
}

.hire{
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* #homeTextContactDescribe{ */
    /* width:clamp(30ch, 50%, 60ch) */
/* } */

.box-container .paint{
    font-family: 'Encode Sans Condensed', sans-serif;
    border-radius: 2px;
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
    flex-direction: column;
    text-align: center;

}

button {
    font-family: 'Encode Sans Condensed', sans-serif;
    border-radius: 2px;
    transition-duration: 0.4s;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #85e0e0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.8;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(260px, auto);
    justify-content: space-around;
    gap: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: none;
}

.box-container button {
    width: 100%;
    height: 100%;
}

.boxes {
    color: white;
    text-align: center;
    text-decoration: none;
}

.paint {
    background-color: #f40047;
    font-size: 61px;
    color: white;
    /*padding:76px 166px;*/
}
.compsci {
    background-color: #430094;
    font-size: 45px;
    color: white;
   /* padding: 64.5px 70.5px;*/
}
.vga {
    background-color: #138d00;
    font-size: 40px;
    color: white;
   /* padding: 67px 25px;*/
}
.viewAll {
    background-color: #ff5129;
    font-size: 42px;
    color: white;
    /*padding: 65px 61px;*/
}


.contact-button {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
.contact-button a {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 3rem;
    background-color: #4d4d4d;
    color: white;
    text-decoration: none;
    padding: 2rem;
}
.contact-button a:hover {
    color: lavenderblush;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

h4{
    font-size: 1.5em;
    width:minmax(100px, 400px)
}
/*code for about page */
p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.about-container {
    /*width: minmax(200px, 300px)*/
    width: clamp(23ch, 50%, 69ch);
    font-size: clamp(12px, 50%, 18px);
}
.about-page {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
    margin: 1rem;
}
#me-about {
    border-radius: 10%;
    width: 300px
}

/*code for contact page*/
.contact {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    list-style-type: none;
}

/*for portfolio page*/
.category-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    gap:30px;
}
/*for paint.html*/
.item {
    max-width: 390px;
    margin: 5px;
    border-radius: 8px;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    gap:30px;
    justify-content: space-around;
    /*display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;*/
}

.margin{
    margin:30px;
}
/* bottom nav  bar*/
.last{
    display:flex;
    place-items: center;
    background-color:#9fcfdf;
    display: flex;
    justify-content: space-around;

}
.last nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-width: 100%;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}
.last nav ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.last nav ul li img{
    min-width: 32px;
    max-width: 62px;
}
    
@media only screen and (max-width: 375px) {
    .contact-button a {
        font-size: 1.5rem;
        margin: 20px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .box-container {
        grid-template-columns:auto;
        grid-auto-rows: minmax(40px, auto);
        gap: 0.5rem
}

@media only screen and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 40px;
        max-width: 320px;
    }
}
@media only screen and (max-width: 768px) {
    #describe {
        font-size: 18px;
        width: clamp(10ch, 50%, 15ch);

    }
}
/*
@media only screen and (max-width: 768px) {
    nav {
        justify-content: space-around;
    }
 
}
*/

@media only screen and (max-width: 768px) {
    .box-container button {
        border-radius: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .first{
        max-height: 60vh;
        background-image: url('./1x/0.5x/Asset\ 1@0.5x.png');
        background-repeat: no-repeat;
    
    }
}
@media only screen and (max-width: 768px) {
    #me-about {
        width: 190px;
    }

}
@media only screen and (max-width: 768px) {
    h4 {
        font-size:12px;
    }
}
}
@media only screen and (max-width: 768px) {
    h3 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .hi {
        font-size: 30px;
        margin: 20px;
    }
}
@media only screen and (max-width: 415px) {
    
    .container1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-left: 2px;
        margin-right: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }


@media only screen and (max-width: 415px) {

    #aditi_graphic_phone{
        display: flex;
        float: left;

    }       
}
@media only screen and (max-width: 415px) {
    #left-cloud{
        display: none;
        }       
}
@media only screen and (max-width: 415px) {
    .container3 {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-auto-rows: auto;
        gap:30px;
        justify-content: space-around;
    }
      
}

@media only screen and (max-width: 380px) {
    .item{
        max-width: 330px;
    }

 }

 @media only screen and (max-width: 768px) {
    .compaditi::before{
        content: url(/assets/img/SVG/aditiinterestsizephoneAsset\ 4.svg);
        display:flex;
        width: 250px;
        stroke-width: 0.1px;
    }
    .compaditi{
        display: none;
    }
 }

/*background-image: url('./assets/svg/background.svg');*/